body {
  min-height: 1500px;
  padding-top: 51px;
  
}

.navbar-brand {
	padding-top: 2px;
}

.navbar-collapse {
	margin-top: 25px;
}

/* .nav.navbar-nav.navbar-right li a {
    color: #10e9ed;
} */

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #3eafff;
}

@media (min-width: 768px) {
  .container {
    width: 550px;
  }
  
  .navbar-collapse {
	margin-top: 0px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 770px;
  }
  
  .navbar-collapse {
	margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
  
  .navbar-collapse {
	margin-top: 0px;
  }
}